@import "tailwindcss";

@font-face {
    font-family: 'helveticaneuelt_roman';
    src: url('/fonts/helveticaneuelt_roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'helveticaneuelt_roman', sans-serif;
}